@import "../../../variables";

img {
  border-radius: 100%;
  border: 2px solid $off-white;
  width: 45px;
  height: 45px;
}

.description {
  a{
    font-size: 28px;
    &:hover {
      cursor: pointer;
    }
  }

  span {
    display: block;
  }
}
