@import "../../../variables";

img {
  border-radius: 100%;
  border: 2px solid $off-white;
  width: 60px;
  height: 60px;
}

.description {
  a{
    font-size: 22px;
    font-family: monospace;
    line-height: 125%;
    &:hover {
      cursor: pointer;
    }
  }

  span {
    display: block;
  }
}
