@import "../../../../variables";

$book-height: 200px;
$book-width: 150px;

.book-container {
  border-radius: 15px;
  width: $book-width;
  height: $book-height;
  position: relative;

  img {
    width: $book-width;
    height: $book-height;
    object-fit: cover;
    border-radius: 10px;
    user-select:none;
  }

  fa-icon {
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 44px;
    color: white;
    animation:spin 40s linear infinite;
    filter:drop-shadow(0 0 10px hotpink);

    &.small {
      font-size: 32px;
      bottom: 12px;
      left: 13px;
    }
  }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(-360deg); } }
