@import "../../../variables";

.reading-list-title {
  font-size: 26px;
  font-weight: 200;
}

.reading-list-container {
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  width: 100vw;
  left: 0;
  margin-bottom: 40px;

  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */

  -webkit-overflow-scrolling: touch;


  &::-webkit-scrollbar {
    display: none;
  }

  .description {
    font-weight: 200;
  }

  .current {
  }

  .previous {
    padding-left: 200px;
    margin-left: 200px;
  }

  .future {
    margin-right: 200px;
    padding-right: 200px;
  }

  .book-list {
    padding: 20px 20px 10px 20px;

    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, lighten($dark-purple, 10), rgba(0, 0, 0, 0)) 1% 10%;
    position: relative;
  }
}

.arrow {
  font-size: 50px;
  position: absolute;
  transform: translateY(130px);
  cursor: pointer;
  z-index: 1;
  filter: drop-shadow(0 0 5px $dark-purple)
  drop-shadow(0 0 10px $dark-purple)
  drop-shadow(0 0 30px $dark-purple)
  drop-shadow(0 0 80px $dark-purple);

  &.left {
    left: 25px;
  }

  &.right {
    right: 25px;
  }
}
